<div class="wrapper accent-bg flex flex-column">
  <h3>Agregar clase</h3>
  <p>Ingrese nombre y grupo de la clase</p>
  <app-input label="Nombre" placeholder="Ingrese nombre de la clase" [_formControl]="getControl('nombreClase')"/>

  <p>Grado</p>
  <mat-form-field appearance="outline">
    <mat-select placeholder="Seleccione" [formControl]="getControl('grado')">
        <mat-option [value]="6">{{6}}</mat-option>
    </mat-select>
  </mat-form-field>


  <div class="buttons flex a-center j-between">
    <app-button label="Cancelar" type="secondary" (click)="cancel()"/>
    <app-button label="Aceptar" (click)="addClass()"/>
  </div>
</div>