<div class="wrapper flex flex-column">
  <div class="flex a-center j-between">
    <div class="left flex a-center">
      <button mat-icon-button (click)="goBack()"><mat-icon fontIcon="arrow_back" /></button>
      <h3>{{classInfo!.nombreClase}}</h3>
    </div>
    <button mat-icon-button (click)="showCode()" ><mat-icon fontIcon="qr_code" /></button>
  </div>
  <app-divider />
  <div class="flex a-center j-between">
    <h3>Mejores estudiantes</h3>
    <a href="#" class="small">Ver todos</a>
  </div>
  <div class="best-students flex a-center">
    @for (student of topStudents; track $index) {
      <app-simple-avatar [info]="student" />
    }

  </div>
  <app-divider />
  <h3>Actividades</h3>
  <app-chip-list [chips]="activitiesChips" (onChipChange)="changeTab($event)"/>
  <div class="games-grid">
    @for (activity of activities; track activity.idActividad) {
      <app-subject [data]="activity" [clasCode]="classInfo.codigoClase" (onAssign)="assigned($event)"/>
    }
  
  </div>
  <app-divider />
  <h3>Juegos</h3>
  <div class="games-grid">
    @for (game of games; track $index) {
      <app-game-card [data]="game"/>
    }
  </div>
</div>
