.wrapper {
    min-height: 100dvh;
}

.content {
    min-height: 50dvh;
    gap: 1rem;
    height: fit-content;
    background-color: var(--primary-color);
    border-radius: 20px 20px 0 0;
    padding: 2rem;
    position: relative
}

.cat-image {
    width: 19rem;
    position: absolute;
    top: -15rem;
    right: 50%;
    transform: translateX(50%);
}

.btns {
    margin-top: 2rem;
}