<div class="wrapper flex flex-column j-end">
    
    <div class="content flex flex-column">
        <img class="cat-image" src="/assets/images/cat_above.png" alt="">  
        <h2>Bienvenido</h2>
        <p>Tonalli es un prototipo creado en México que nace con una idea simple pero poderosa: demostrar que las matemáticas pueden ser divertidas, cercanas y llenas de energía. <br> Nuestro propósito es acompañar a niñas y niños de primaria para que aprendan sin miedo, descubran su propio ritmo y se enfrenten a cada desafío con valor y curiosidad. <br> Tonalli busca encender esa chispa interior que les recuerde que sí pueden, que son capaces y que cada ejercicio es una oportunidad para crecer, explorar y sorprenderse de lo que pueden lograr</p>
       
        <div class="btns flex j-between">
          <app-button label="Maestro" (click)="navigateToAuth('M')" />
          <app-button label="Alumno" type="secondary" (click)="navigateToAuth('A')" />
          
          
        </div>
    </div>
</div>