.game-wrapper {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: white;
    transition: background 0.5s;
    overflow: hidden; // Evita scroll por la animación de shake


}

// Efecto visual cuando queda poco tiempo
.urgent {
    background: #c0392b;
    animation: pulseBg 1s infinite;
}

.top-bar {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 10;

    .badge {
        background: rgba(255, 255, 255, 0.2);
        padding: 5px 10px;
        border-radius: 15px;
    }
}

@keyframes pulseBg {
    0% {
        background: #c0392b;
    }

    50% {
        background: #e74c3c;
    }

    100% {
        background: #c0392b;
    }
}

.setup{
}

// SETUP
.potato-icon {
    font-size: 8rem;
    margin-bottom: 20px;
}

.big-btn {
    transform: scale(1.5);
    margin-top: 30px;
}

// TIMER
.timer-container {
    font-size: 5rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
    font-family: monospace;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

// PREGUNTA
.question-card {
    background: white;
    color: #333;
    padding: 30px 50px;
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.2);
    min-width: 320px;
    text-align: center;

    .problem {
        font-size: 4rem;
        font-weight: bold;
    }
}

// GRID DE OPCIONES
.options-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    padding: 0 20px;

    .option-btn {
        background: #3498db;
        color: white;
        border: none;
        border-radius: 15px;
        padding: 25px;
        font-size: 2.2rem;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0 6px 0 #2980b9;
        transition: transform 0.1s, box-shadow 0.1s;

        &:active {
            transform: translateY(6px);
            box-shadow: 0 0 0 #2980b9;
        }
    }
}

// GAME OVER
.boom {
    font-size: 8rem;
    margin-bottom: 10px;
}

.game-over h1 {
    font-size: 4rem;
    margin: 0;
    color: #ffeb3b;
}

// ANIMACIÓN DE ERROR (SHAKE)
.shake-screen {
    animation: shake 0.3s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-4px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(4px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-8px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(8px, 0, 0);
    }
}