

  <div class="wrapper flex a-center j-between">
    @if (info) {
    
    <div class="avatar flex a-center">
      @if (info!.avatarUrl) {
        <img [src]="info.avatarUrl" alt="">
      }@else {
        <app-no-photo [name]="info.nombre!"/>
      }
      <p> <span class="bold">Hola,</span> {{info.nombre}}</p>
    </div>
    }
    
    <button mat-icon-button (click)="logout()">
      @if (isTeacher) {
        <mat-icon fontIcon="logout" style="color: red;"/>

      } @else {

        <mat-icon fontIcon="settings"/>
      }
    </button>
    
  </div>

