:host{
    width: fit-content;
}

button{
    width: 100%;
    padding: 1rem 3.2rem;
    height: 4.2rem;
}

.btn-secondary{
    background-color: var(--white) !important;
    color: var(--onyx) !important;
}