<div class="wrapper flex flex-column j-between">

    <div class="header flex j-between a-center">
        <button mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>

    </div>
    
    <div class="content flex flex-column">
        @if (password.showPassword) {
            <img class="cat-image" src="/assets/images/cat_covered.png" alt="">
        } @else{
            <img class="cat-image" src="/assets/images/cat_idle.png" alt="">
        }
        <h2>Registrar</h2>
        <div class="form flex flex-column">
            <p>Complete los campos para registrarse</p>

            <app-input  placeholder="Nombre y apellido" 
                        label="Nombre"
                        [_formControl]="getControl('name')"/>

            <app-input  placeholder="Nombre de usuario" 
                        label="Nombre de usuario"
                        prefix="person"
                        [_formControl]="getControl('username')"/>

            <app-input #password  placeholder="*************" 
                        label="Contraseña" 
                        prefix="vpn_key"
                        type="password" 
                        [alternate]="true"
                        [_formControl]="getControl('password')"
                        />
            <app-input #password  placeholder="Codigo" 
                        label="Codigo de clase" 
                        type="text" 
                        [_formControl]="codeControl"
                        />
            <app-button label="Registrarse" (click)="register()" />
        </div>
    </div>
</div>