@use '@angular/material' as mat;
@import url('./assets/styles/overrides.scss');
@import url('./assets/styles/util.scss');

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--accent);
  color: var(--onyx);
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}


*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: 1.6rem;
}


.mat-icon,
.mat-icon::before,
.mat-icon::after {
  font-size: 24px !important;
}


p,
h1,
h2,
h3,
h4 {
  margin: 0;
  color: var(--onyx);
}

p,
a {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--onyx);
}

h2 {
  font-size: 4rem;
  font-weight: bold;
}

h3 {
  font-size: 2.4rem;

}