:root {
    --primary-color: #FFB901;
    --white: #FFFFFF;
    --accent: #ECF1F4;
    --onyx: #0E0E2C;
    --light-slate: #8C8CA1;
    --success: #00B18B;
    --success--lighter: rgba(0, 177, 139, 0.25);
    --error: #EB2A31;
    --error-lighter: rgba(235, 42, 49, 0.25);
}


.flex {
    display: flex;
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: end;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.j-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

.shadow-top {
   box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.accent-bg {
    background-color: var(--accent);
}

.bold {
    font-weight: bold;
}

.small {
    font-size: 1.4rem;
}

.subtitle{
    font-size: 2.4rem;
    font-weight: normal;
}